* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white: hsl(0, 0%, 100%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown-800: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
}

@font-face {
  font-family: "Outfit";
  src: url("assets/fonts/outfit/static/Outfit-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900; /* The variable font allows weight ranges */
  font-style: normal;
}
@font-face {
  font-family: "YoungSerif";
  src: url("assets/fonts/young-serif/YoungSerif-Regular.ttf");
  font-style: normal;
}
body {
    font-family: "Outfit", sans-serif;
    min-height: 120vh;
    min-width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6{
    font-family: "YoungSerif";
}

.container{
    height: 100%;
    width: 100%;
    background-color: var(--stone-100);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.card{
    background-color: var(--white);
    max-width: 700px;
    padding: 50px;
    border-radius: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
img{
    width: 100%;
    border-radius: 14px;
}
.preptime{
    background-color:hsl(330, 100%, 98%);
    border-radius: 10px;
    font-family:"Outfit" ,sans-serif;

}
 
h2{
    padding:10px;
}
h3{
    padding:10px;

}
ul{
    padding: 0px 30px;
}
.style{
    border-top: 1px solid;
}
ol{
    padding:0px 30px;
}
 td{
    width: 100%;
 }
 .color1{
    height:40px;
    border-bottom: .5px solid rgba(5, 5, 5, 0.164);
 }
 .color1{
    color:  hsl(14, 45%, 36%) ; 
    font-weight: 500%;
    font-size: medium;
}

.style{
    color:   hsl(14, 45%, 36%);
    padding-left:3.5px;
    font-weight: 200;

}
.preptime1{
    color:  hsl(332, 51%, 32%);
    font-family: 'Poppins', sans-serif;
    color: #882d59; /* adjust color if needed */
    font-weight:100;
    font-size: 19px;
    

}
.font{
    font-family:  "Outfit" , sans-serif;
    font-size:small;
    color:   hsl(11, 51%, 17%);

line-height: 1.8;
}
.omlet{
    padding-top: 20px;
    color:var (--stone-900) ;
     font-size:xx-large;
     font-weight: 100;
}
 h2{
  color:  hsl(14, 45%, 36%);
  
 }
ol{
    list-style-type:decimal;
    color: hsl(14, 45%, 36%) ;
}
.Ingredients1{
    font-weight: 200;
}
.color2{
    border-bottom:.5px solid rgba(5, 5, 5, 0.164);

}
.color3{
    color:  hsl(14, 45%, 36%);
    padding-bottom;
}
.color4{
    height: 40px;
}